<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-primary">
                <div class="card-block p-b-0">
                    <div class="btn-group pull-right" dropdown>
                        <button type="button" class="btn btn-transparent dropdown-toggle p-a-0" dropdownToggle>
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" dropdownMenu>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <h4 class="m-b-0">10</h4>
                    <p>Users online</p>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
</div>