<p-dataTable [value]="records" [(selection)]="selectedRecords" selectionMode="multiple" 
		[lazy]="true" (onLazyLoad)="loadRecordsLazy($event)" [rows]="20" 
		[paginator]="true" [rowsPerPageOptions]="[10, 20, 50, 100]" [pageLinks]="10"
        [totalRecords]="totalRecords"
        sortField="modifiedDate" sortOrder="1"
        [responsive]="true">
<!--     <header>Records</header> -->
	<footer>There are {{totalRecords}} records</footer>
	<p-column *ngFor="let keyCol of keyColumns" [field]="keyCol.field" [header]="keyCol.header" [sortable]="keyCol.sortable"></p-column>
    <p-column field="creationDate" header="Created on" [sortable]="true">
    	<template let-data="rowData" pTemplate type="body">
            <span>{{data.creationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
        </template>
   	</p-column>
    <p-column field="modifiedDate" header="Last modified" [sortable]="true">
    	<template let-data="rowData" pTemplate type="body">
            <span>{{data.modifiedDate | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
        </template>
    </p-column>
</p-dataTable>